@font-face {
    font-family: Consolas;
    src: url(fonts/CONSOLA.TTF);
}
body {
    color: black;
}
span {
    -webkit-text-stroke: 3px red;
    font-size: 500%;
    font-family: Consolas, Calibri;
}
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
#static {
    background-size: cover;
}